.App {
  margin: 0% 5% 0% 5%;
  text-align: center;
}

.TwirlyPig {
  transition: all 3s ease-in-out;
  display: inline;
}

.TwirlyPig:hover {
  transform: scale(1.5);
}

.navWrapper {
  margin-bottom: 2%;
}

.filterWrapper {
  margin: 2% 0% 2% 0%;
}

.headerText {
  color: #F5A9BC;
  font-size: 3em;
  margin: 0% 2% 0% 2%;
}

.largeHeader {
  font-size: 3.5em;
  font-weight: bold;
  color: #3B0B0B;
}

.smallHeader {
  font-size: 1.75em;
  font-weight: bold;
  color: #3B0B0B;
}

.normalText {
  font-family: Georgia, serif;
  font-size: .75em;
}

.hoggyText {
  font-size: 1.5em;
}

.achievementText {
  color: purple;
}

#search-button {
  background-color: white;
  padding: 0;
  height: min-content;
  margin-top: 2%;
  border-radius: 10em;
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
}

ul {
  list-style-type: none;
  list-style: none;
}

.normalText ul {
  font-family: Georgia, serif;
  font-size: .75em;
  text-align: left;
}

.subtleText {
  color: #D1D1D1;
  font-size: .75em;
}


.indexWrapper {
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.pigTile {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 100%;
  float: left;
  margin: 2%;
  padding: 1%;
  outline: #3B0B0B solid;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  opacity: 1;
  height: 24em;
  align-items: center;
  align-content: center;
}

.pigTile:hover {
  transform: scale(1.05)
}

.pigTile:active {
  transform: rotateY(180deg) scale(1.05);
}

.ui.eight.wide.column.pigTile {
  /* Use this for defining a %wide */
}

.card-front, .card-back {
  backface-visibility: hidden;
  align-content: center;
  position: absolute;
  text-align: center;
  width: 91%;
}

.card-front {
  transition-duration: 1s;
}

.card-back {
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 0;
  width: 100%;
  margin-top: 38%;
  align-content: center;
  left: 0;
  right: 0;
}

.minBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
}

.maxBackgroundSneak {
  position: absolute;
  width: inherit;
  height: inherit;
  background-size: cover;
  z-index: -3;
  opacity: 0.75;
}

.pigTile h3 {
  color: #FBB;
}

.minPigTile {
  width: 250px;
  height: 250px;
  background-size: cover;
}

.maxPigTile {
  background-size: cover;
  width: 300px;
  height: 300px;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
  transition: all .2s ease-in-out;
}

.footer {
  padding: 1%;
  clear: both;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
